{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<!-- form -->
<div class="container my-2">
    <h2>Add your ToDo's</h2>
    
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo Description</label>
            <input type="text" name="desc" class="form-control" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Table -->
<div class="container">
    <div class="container-table my-2">
        <h2>Your ToDo's</h2>
        <form class="d-flex" role="search" method="GET" action="/">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
        {% if allTodo|length == 0 %}
        <div class="alert alert-dark" role="alert">
            No Record, Add your first Todo Now.
        </div>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sno.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in allTodo %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.desc }}</td>
                    <td>{{ todo.date_created }}</td>
                    <td>
                        <a href="/update/{{ todo.sno }}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</a>
                        <a href="/delete/{{ todo.sno }}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}
